@font-face {
  font-family: 'Montserrat';
  src: url('../webfonts/Montserrat-Medium.woff2') format('woff2'),
    url('../webfonts/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../webfonts/Montserrat-Regular.woff2') format('woff2'),
    url('../webfonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../webfonts/Montserrat-Bold.woff2') format('woff2'),
    url('../webfonts/Montserrat-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}